In [5]:
import pandas as pd

In [2]:
#Advent of code Day 2

## --- Day 2: Dive! ---
Now, you need to figure out how to pilot this thing.

It seems like the submarine can take a series of commands like forward 1, down 2, or up 3:

forward X increases the horizontal position by X units.\
down X increases the depth by X units.\
up X decreases the depth by X units.\
Note that since you're on a submarine, down and up affect your depth, and so they have the opposite result of what you might expect.

The submarine seems to already have a planned course (your puzzle input). You should probably figure out where it's going. For example:

forward 5\
down 5\
forward 8\
up 3\
down 8\
forward 2\

Your horizontal position and depth both start at 0. The steps above would then modify them as follows:

forward 5 adds 5 to your horizontal position, a total of 5.\
down 5 adds 5 to your depth, resulting in a value of 5.\
forward 8 adds 8 to your horizontal position, a total of 13.\
up 3 decreases your depth by 3, resulting in a value of 2.\
down 8 adds 8 to your depth, resulting in a value of 10.\
forward 2 adds 2 to your horizontal position, a total of 15.\
After following these instructions, you would have a horizontal position of 15 and a depth of 10. (Multiplying these together produces 150.)

In [4]:
#Calculate the horizontal position and depth you would have after following the planned course. 
#What do you get if you multiply your final horizontal position by your final depth?

In [192]:
#Importing the sub marine input as a pandas df
sub_input = "/Users/seyi/Documents/Jupyter notebooks/Advent of Code/input_day2.txt"
#Reading the Dataset to Pandas DataFrame
sub_df=pd.read_csv(sub_input,header=None)

In [193]:
sub_df.head()

           0
0  forward 9
1  forward 7
2  forward 4
3     down 7
4  forward 5

In [194]:
#Create column header
sub_df.columns=['commands']
sub_df.head()

    commands
0  forward 9
1  forward 7
2  forward 4
3     down 7
4  forward 5

In [195]:
#Split the columns into inputs and value
sub_df[['inputs', 'value']] = sub_df['commands'].str.split(' ', 1, expand=True)

In [196]:
#Drop the initial inputs column
sub_df = sub_df[['inputs', 'value']]
sub_df

      inputs value
0    forward     9
1    forward     7
2    forward     4
3       down     7
4    forward     5
..       ...   ...
995       up     2
996  forward     8
997     down     2
998     down     7
999  forward     1

[1000 rows x 2 columns]

In [197]:
#Seperate the different sub inputs
forward_df = sub_df.loc[sub_df.inputs == 'forward']
up_df = sub_df.loc[sub_df.inputs == 'up']
down_df = sub_df.loc[sub_df.inputs == 'down']

In [198]:
forward_df.head()

    inputs value
0  forward     9
1  forward     7
2  forward     4
4  forward     5
7  forward     1

In [199]:
#Converting the values to interger type
forward_df['value'] = forward_df.value.astype(int)
up_df['value'] = up_df.value.astype(int)
down_df['value'] = down_df.value.astype(int)

<ipython-input-199-1cf4a655f53b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  forward_df['value'] = forward_df.value.astype(int)
<ipython-input-199-1cf4a655f53b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  up_df['value'] = up_df.value.astype(int)
<ipython-input-199-1cf4a655f53b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  down_df['value'] = down_df.value.astype(int)

In [200]:
down_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 395 entries, 3 to 998
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   inputs  395 non-null    object
 1   value   395 non-null    int64
dtypes: int64(1), object(1)
memory usage: 9.3+ KB

In [201]:
#Getting the sums of all inputs
forward_sum = forward_df['value'].sum()
down_sum = down_df['value'].sum()
up_sum = up_df['value'].sum()

In [202]:
#Horizontal Position
horizontal_pos = forward_sum
horizontal_pos

2052

In [203]:
#Calculating the depth
depth = down_sum - up_sum
depth

1032

In [204]:
#Puzzle Answer
print(f"Horizontal position and depth after following the planned course is {horizontal_pos * depth}")

Horizontal position and depth after following the planned course is 2117664

### --- Part Two ---
Based on your calculations, the planned course doesn't seem to make any sense. You find the submarine manual and discover that the process is actually slightly more complicated.

In addition to horizontal position and depth, you'll also need to track a third value, aim, which also starts at 0. The commands also mean something entirely different than you first thought:

down X increases your aim by X units.\
up X decreases your aim by X units.\
forward X does two things:\
It increases your horizontal position by X units.\
It increases your depth by your aim multiplied by X.\
Again note that since you're on a submarine, down and up do the opposite of what you might expect: "down" means aiming in the positive direction.

Now, the above example does something different:

forward 5 adds 5 to your horizontal position, a total of 5. Because your aim is 0, your depth does not change.\
down 5 adds 5 to your aim, resulting in a value of 5.\
forward 8 adds 8 to your horizontal position, a total of 13. Because your aim is 5, your depth increases by 8*5=40.\
up 3 decreases your aim by 3, resulting in a value of 2.\
down 8 adds 8 to your aim, resulting in a value of 10.\
forward 2 adds 2 to your horizontal position, a total of 15. Because your aim is 10, your depth increases by 2*10=20 to a total of 60.\
After following these new instructions, you would have a horizontal position of 15 and a depth of 60. (Multiplying these produces 900.)

In [65]:
#PUZZLE 
#Using this new interpretation of the commands, calculate the horizontal position 
#and depth you would have after following the planned course. 
#What do you get if you multiply your final horizontal position by your final depth?

In [205]:
sub_df.head()

    inputs value
0  forward     9
1  forward     7
2  forward     4
3     down     7
4  forward     5

In [206]:
sub_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   inputs  1000 non-null   object
 1   value   1000 non-null   object
dtypes: object(2)
memory usage: 15.8+ KB

In [209]:
#create new df
sub_df2 = sub_df
#convert value from object type to in
sub_df2['value'] = sub_df.value.astype(int)
#Convert pd to numpy array
sub_np = sub_df2.to_numpy()
sub_np[0:5]

array([['forward', 9],
       ['forward', 7],
       ['forward', 4],
       ['down', 7],
       ['forward', 5]], dtype=object)

In [210]:
#Loop through the array of sub inputs to get our final horizontal position, aim and depth
horiz_pos = 0
depth = 0
aim = 0
for inp,val in sub_np:
    #print(f,v)
    if inp == "forward":
        horiz_pos += val
        depth += (aim * val)
    if inp == 'down':
        aim += val
    if inp == 'up':
        aim -= val
print(horiz_pos, aim, depth)

2052 1032 1010437

In [213]:
print(f"final horizontal position by final depth {horiz_pos * depth}")

final horizontal position by final depth 2073416724